h1 {
    color: white;
    /* border: 2px solid white; */
    /* background-color: lightblue; */
    font-weight: 700;
    font-size: 40px;
}
h2{
    color:white
}
ul{
    color:white
}

p {
    color: white;
    font-weight: 700;
    font-size: 20px;


}

a:hover {
    color: red;
}

.hero1 {
    background-image: url('bildup.png');
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    /* text-align: center; */
    padding: 10px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       
}

.hero1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero1 p, 
.hero1 h1,
.hero1 h2 ,
.hero1 ul{
    position: relative;
    z-index: 2; 
}


.hero2 {
    background-image: url('BILDUPexp.png');
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero2 p, 
.hero2 h1,
.hero2 h2 ,
.hero2 ul{
    position: relative;
    z-index: 2; 
}

.hero3 {
    background-image: url('Bildupteam.png');
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero3 p, 
.hero3 h2 ,
.hero3 ul{
    position: relative;
    z-index: 2; 
}
.hero4 {
    background-image: url('bildupcontact.png');
     
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: center;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero4 p, 
.hero4 h2 ,
.hero4 ul{
    position: relative;
    z-index: 2; 
}

.footer {
    background-image: url('bildup.png');
    text-align: center;
    padding: 10px;
    position: fixed;
    height: 500px;
    width: 100%;
}
.overlay-text {
    position: absolute;
    top: 50%; /* Start 50% down from the top */
    left: 50%; /* Start 50% in from the left */
    transform: translate(-50%, -50%); /* Shift back by half its own width/height to center */

    /* Additional styling for readability */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* Optional: Add a subtle shadow for contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
