body {
    background-color: aliceblue;
    /* background-color: rgb(111, 105, 105); */
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

h1 {
    color: white;
    border: 2px solid white;
    background-color: lightblue;
    font-weight: 700;
    font-size: 40px;
}

p {
    color: black;
    font-weight: 700;
    font-size: 20px;

}

a:hover {
    color: red;
}

img {
    display: flex;
    border-radius: 60px;
    float: center;
    margin: 0 auto 50px;
    width: 225px;
    height: 200px;
}
